.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: monospace;
  font-size: 16px;
}

body {
  padding: 1em 1em 6em 1em;
}

p, label {
  display: block;
  margin: 0.8em 0;;
}

.container {
  position: relative;
}

.textarea {
  width: 360px;
  outline: none;
  min-height: 20px;
  padding: 0;
  box-shadow: none;
  display: block;
  border: 2px solid black;
  overflow: hidden;
  transition: height 0.2s ease;
}

.textarea--ghost {
  opacity: 0.3;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;  
  /* //  Uncomment below to hide the ghost div... */
  
  visibility: hidden;
  position: absolute;
  top: 0;
}